@font-face {
  font-family: "FontAwesome";
  src: url("font/fontawesome-webfont.eot?v=4.7.0");
  src: url("font/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
    url("font/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("font/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("font/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("font/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("font/LibreFranklin-SemiBold.woff2") format("woff2"),
    url("font/LibreFranklin-SemiBold.woff") format("woff"),
    url("font/LibreFranklin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("font/LibreFranklin-Bold.woff2") format("woff2"),
    url("font/LibreFranklin-Bold.woff") format("woff"),
    url("font/LibreFranklin-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("font/LibreFranklin-Light.woff2") format("woff2"),
    url("font/LibreFranklin-Light.woff") format("woff"),
    url("font/LibreFranklin-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

 *{
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 50%;
}

.form {
  margin: 20px 0;
  line-height: 45px;
}

.social {
  max-width: 1340px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
  text-align: center;
}

header {
  margin: 20px 0;
}

h1 {
  margin: 0;
  color: #959595;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

strong {
  color: black;
}

.text-page {
  margin: 15px 0;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 35px;
  padding: 0 20px;
  border-color: #4d7bf3;
  border-width: 1px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background-color: #4d7bf3;
  color: white;
  border-style: none;
}

button:hover {
  background-color: #7195f5;
  cursor: pointer;
}

.image-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

footer {
  padding: 30px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer ul li {
  display: inline-block;
  vertical-align: middle;
}

footer ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #C2D3FF;
  border-radius: 30px;
  padding: 0.5em 0.1em;
  color: #4F7DF3;
}

.copywright-ping {
  color: #959595;
  margin: 30px 0;
  text-align: center;
}

.copywright-ping p {
  font-size: 14px;
}

a:hover {
  cursor: pointer;
}

.main-page {
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .dashboard img {
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }

  input {
    width: 80%;
    margin-bottom: 10px;
  }

  button {
    width: 80%;
  }

  .dashboard img {
    margin: 15px 0;
  }

  footer {
    margin: 70px 0;
  }

  .copywright-ping p {
    font-size: 10px;
  }

  .container {
    padding: 0 15px;
  }

  img {
    max-width: 100%;
  }
}